body{
	margin: 0px;
}

/*Body Header*/

#body-header{
	height: 65vh;
	opacity: 0.8;
	background-image: url(image/macbook_mouse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 1.2rem;

}

/*Horizontal List*/

.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;
	font-weight: 100;
	font-size: 0.9rem;
}

.horizontal-list li a{
	color:white;
	text-decoration: none;
	
}

.nav-menu li a{
	transition:color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
	color: lightgrey;
	border-bottom:1px solid black;
}


.text-center{
	text-align: center;
}

/*Name and Social Icons*/
#name-social-container{
	margin-top: 20vh;
}

#my-name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.social-icons li a i{
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
}

.social-icons li a i:hover{
	box-shadow: 10px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about{
	height: auto;height: 12rem;
    width: 100%;
}

#my-image{
	height: 12rem;
    width: 12rem;
}

#my-image img{
	height: 100%;
	width: 100%;
}